<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GwtClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>audin-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>cliprdr-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>disp-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>drdynvc-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>drive-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>echo-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>freerdp-cache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>freerdp-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>freerdp-codec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>freerdp-common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>freerdp-core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>freerdp-crypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>freerdp-gdi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>freerdp-locale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>freerdp-primitives.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>freerdp-rail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>freerdp-utils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>parallel-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>rail-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>rdpdr-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>rdpei-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>rdpsnd-client-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>rdpsnd-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>serial-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>tsmf-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>winpr-asn1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>winpr-bcrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>winpr-com.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>winpr-credentials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>winpr-credui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>winpr-crt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>winpr-crypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>winpr-dsparse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>winpr-environment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>winpr-error.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>winpr-file.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>winpr-handle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>winpr-heap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>winpr-input.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>winpr-interlocked.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>winpr-io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>winpr-library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>winpr-nt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>winpr-path.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>winpr-pipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>winpr-pool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>winpr-registry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>winpr-rpc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>winpr-sspi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>winpr-sspicli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>winpr-synch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>winpr-sysinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>winpr-thread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>winpr-timezone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>winpr-utils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>winpr-winhttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>winpr-winsock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>winpr-wtsapi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>009833CF1982459991D59197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046E284B569B4A6E87CAD2DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0853D626A4B34F689280C520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B0B9B9C75EE4844A1B9B340</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F28DC7740EC476A9A2B2D64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10FF21130E7C4A6C9C2C0A84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16BCDAC4905E4EBAA2219F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197017ED9F814349A88BF170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DCF1D65B80249FCB12A55E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD3B61FCCD6441399B625E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25815F35558F4E08BFB0DBD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2723FB265DAA4355ACF46B17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27D735EF46D74D77B3DE15F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B84F32106C84FD193778378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F0C35FD64304E33A107A538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33690293FE14462E964570D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34FFAF5C22D7453EB4973B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B050070C5344A77A8E005EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428B873DD6F44288A7C0160C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4998EE882F3B43BE995D7DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A7C5AB57CD494CB34B873A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EEA103FEA04D80839F1F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69F405FEF7F9413F88D61B6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFAD2298E444D0096411EBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DE21665C3504A12A05070EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DE45E1210B433BAF7979D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F9606E7ED844515890B9B1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821CEE1609B6424D809B0EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840098B5030F40F1BEF51FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868A7E1ECC004B7DBE689CC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E77C9BC1931462E9946F4D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93013085AE32473ABC92C7BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>959A03B58B984C8187499858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97181406FA6E403C9F9A7A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BF18BF3158646D685C691E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DA5116BFD1745A9B8D36E4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23B950CBAE1476CBA9E2F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A33F912DF4F2490C840A67F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3ED45E0339D412E838E9CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77D21523D6A4107A50C7594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF0D95691CB4CB9B548B368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFBA388BF8D4953AEC5ADB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD66281BCD71445FB767D70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF13D650D6DB462DACD71807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F7159BDEBD40AA9FF1E13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3889DC3E0094DC9900D2633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D2B19AB99E487F80586CAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BB50E67CA34D2A8AC10BD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8478834B0B64926A6F08BBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9E794CB545147D1B5F087C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE7D7C26FCBE415DAADC56A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C41E4DC6FFAB42869842EA10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA15E2AAD1BC46F08B6480A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA674611C08347CC9B716BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC3EF96F5F864A7AAC962B48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF2467E1A524612B6311E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50687236D0448699866B766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9850C8385B34D819897BC0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0BDB35AA914CC2B08DC534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0FDADCCFD6742FA8DE2CEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2D053D09CFA4A0DB50A5A32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAA01D83ED9E4FF6B5D429F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB729ED4BEC4BFABFBAF064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
